/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor

# Laravel Specific
/bootstrap/cache/*.php
/storage/*.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log

# IDE specific (vi du cho VS Code)
.vscode/
